@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes flyin {
	from { 
		opacity: 0;
		transform: translate(0,15px);
		}
	to {
		opacity: 1;
		transform: translate(0,0);
	}
}

@keyframes flyinStatement {
	from { 
		opacity: 0;
		transform: translate3d(-50%, 490px, 0);
		}
	to {
		opacity: 1;
		transform: translate3d(-50%, 440px, 0);
	}
}

@keyframes flyinStatementSE {
	from { 
		opacity: 0;
		transform: translate3d(-50%, 460px, 0);
		}
	to {
		opacity: 1;
		transform: translate3d(-50%, 410px, 0);
	}
}