@font-face {
	src: url("../resources/fonts/AvenirNext-Light.ttf");
	font-family: "Avenir Next";
	font-weight: 300;
}

@font-face {
	src: url("../resources/fonts/AvenirNext-Regular.ttf");
	font-family: "Avenir Next";
	font-weight: 400;
}

@font-face {
	src: url("../resources/fonts/AvenirNext-Medium.ttf");
	font-family: "Avenir Next";
	font-weight: 500;
}


@font-face {
	src: url("../resources/fonts/AvenirNext-Bold.ttf");
	font-family: "Avenir Next";
	font-weight: 600;
}

@font-face {
	src: url("../resources/fonts/AvenirNext-HeavyItalic.ttf");
	font-family: "Avenir Next";
	font-weight: 700;
	font-style: italic;
}