@import 'fonts.scss';
@import 'spacing.scss';

@mixin blurry_background {
  background-image: url("/assets/images/BG.png");
  background-size: cover;
}

@mixin cover {
  width: 100%;
  height: 100%;
  position: absolute;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;
  
  display: grid;
  grid-template-rows: 9fr 1fr;
  grid-template-areas: "content" "nav";
}

main {
  grid-area: content;
  overflow-y: scroll;
}

.hidden {
  display: none;
}

.full-width {
  width: 100%;
  height: auto;
}

@mixin centered-columns {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > *:first-child {
    // remove margin of first child
    @include no-spacing();
  }
}
.centered-columns {
  @include centered-columns();
}