.content.contact {
  @include blurry_background;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    content: "";
    @include large-spacing();
  }

  h1 {
    @include green-header-text();
    @include extra-large-spacing();
    @include text-center();
    width: 80%;
  }

  .email {
    @include light-text();
    @include large-spacing();

    &::after {
      content: ">";
      margin-left: $small-spacing;
    }
  }

  h2 {
    @include board-ressort-heading();
    @include extra-small-spacing();
  }

  #interaction-circles,
  #administration-circles,
  #philantropy-circles {
    height: 30rem;
    width: 100%;
    @include small-spacing();
    position: relative;

    .circle {
      width: 7rem;
      height: 7rem;
      transition: width .4s ease-in-out, height .4s ease-in-out;

      border-radius: 50%;
      margin: $extra-small-spacing/2;

      position: absolute;
      top: 0; left: 0;

      transform: translate3d(0, 0, 0);

      img {
        width: 100%;
        height: 100%;
        pointer-events: none;
      }

      figcaption {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        padding: 1rem;
        position: absolute;
        top: 0;

        pointer-events: none;
        opacity: 0;
        transition: opacity .4s ease-in-out;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;  
        overflow-wrap: break-word;
        background-color: #0000008C;
      }

      &.active {
        width: 17.2rem;
        height: 17.2rem;

        figcaption {
          pointer-events: all;
          opacity: 1;
        }
      }
    }
  }
}
