.content.join {
  background: linear-gradient(
    rgba(255, 255, 255, 0.75), 
    rgba(255, 255, 255, 0.75)
  ), url('../images/join_us/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;

  img.logo {
    width: 50%;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .input-box {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;

      &.error {
        padding: $extra-small-spacing;
        border: $error-red 0.15rem solid;
      }

      input {
        text-align: center;
        width: 70%;
        @include text();
        background: transparent;
        border: none;
        outline: none;

        &::placeholder {
          @include text();
        }
      }

      textarea {
        width: 70%;
        background: transparent;
        border: none;
        outline: none;
        @include text();
        &::placeholder {
          text-align: center;
          @include text();
        }
      }

      .error-message {
        @include text();
        color: $error-red;
        text-align: center;
      }
    }

    label {
      width: 70%;
      text-align: center;
      @include text();
    }

    input[type="checkbox"] {
      width: auto
    }

    input[type="submit"] {
      width: auto;
      background: transparent;
      padding: $extra-small-spacing;
      @include text('Avenir Next Bold');
      letter-spacing: 2.1px;
      border: $black 0.15rem solid;
    }

    #response-message {
      @include text();

      &.error {
        color: $error-red;
      }

      &.success {
        color: $interchange-green;
      }
    }
  }
}
