@import 'spacing.scss';

.content.landing-page {
  @include blurry_background;
  width: 100%;

  &::after {
    content: '';
    @include large-spacing();
  }


  .page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    * {
      width: 70%;
    }

    h1 {
      @include small-spacing();
      // the headings are a bit bigger
      width: 90%;
    }

    p {
      @include normal-spacing();
    }

    &:first-of-type {
      // the first page is surrounded with circles
      * {
        width: 50%;
      }

      h1 {
        width: 60%;
      }
    }

    &.sdg {
      width: 50%;
      @include extra-large-spacing();

      * {
        width: 100%;
      }

      img {
        @include normal-spacing();
      }
    }

    .video-player {
      width: 100vw;
      // arbitrarily set
      max-width: 600px;
    }

    .icon {
      width: 2.9rem;
      height: 2.9rem;
    }

    .rotary-banner {
      height: 2.8rem;
    }

    .buttons {
      height: 2.8rem;
      @include normal-spacing();

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      button {
        width: calc((100% - #{$normal-spacing}) / 2);

        background: transparent;
        color: $interchange-green;
        font-family: 'Avenir Next Bold';
        border: $interchange-green .15rem solid;
      }
    }
  }

  .bubble-container {
    @include cover();
    pointer-events: none;
    overflow: hidden;

    .bubble {
      width: 7rem;
      height: 7rem;

      border-radius: 50%;
      margin: $extra-small-spacing/2;

      position: absolute;
    }
  }
}