
$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px
);

@import '../node_modules/sass-mq/_mq.scss';

@import 'common.scss';
@import 'nav.scss';
@import 'landing_page.scss';
@import 'info_page.scss';
@import 'contact_us.scss';
@import 'join_us.scss';
@import 'donate.scss';

* {
    overflow:hidden;
    scrollbar-width: none;
}

::-webkit-scrollbar { 
    display: none; 
}