

@import 'colors.scss';
$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px
);

@import '../node_modules/sass-mq/_mq.scss';

@import '../node_modules/slick-carousel/slick/slick.scss';
$slick-loader-path: '/assets/images/';
$slick-font-path:   '/assets/fonts/';
$slick-arrow-color: $interchange-green;
@import '../node_modules/slick-carousel/slick/slick-theme.scss';

@import 'common.scss';
@import 'nav.scss';
@import 'landing_page.scss';
@import 'info_page.scss';
@import 'contact_us.scss';
@import 'join_us.scss';
@import 'xmas.scss';
@import 'donate.scss';
@import 'news.scss';
@import 'events.scss';

@import '../scss/_fonts';
@import '../scss/_colors';
@import '../scss/_hamburger';
@import '../scss/_animations';

.nav {

    * {
        padding: 0;
        margin: 0;
    }

    body {
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -moz-font-feature-settings: 'liga', 'kern';
        direction: ltr;
        -o-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }

    .unscrollable {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    p,a,h1,h2,h3,span {
        font-family: "Avenir Next";
        text-decoration: none;
    }

    h1 {
        font-weight: 600;
        color: $green-highlight;
        font-size: 50px;
        line-height: 1;
    }

    h2 {
        color: $green-highlight;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 0.9;
    }

    a {
        color: $green-highlight;
        
        &::after {
        content: '';
            margin: auto;
        display: block;
        width: 0;
        height: 1px;
        background: $green-highlight;
        transition: width .2s;
            will-change: width;
        }
        
        &:hover::after {
            width: 100%;
        }
        
        &:active::after {
            width: 100%;
        }
    }

    p {
        font-size: 18px;
    }


    .switchtocolumn {
        display: flex;
        flex-direction: row;
    }

    .centered {
        text-align: center;
        width: 100%;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
                    
    button {
        height: 50px;
        position: relative;
        font-family: "Avenir Next", sans-serif;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 1px;
        border: 2px solid $green-highlight;
        border-radius: 50px;
        color: $green-highlight;
        cursor: pointer;
        background-color: white;
        transition: transform 0.2s ease-in-out;
        
        &:hover {
            transform: scale(1.03,1.03);
        }
        
        &:active {
            transform: scale(1.015,1.015);
        }
        
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50px;
            z-index: -1;
            -webkit-box-shadow: 0px 10px 30px -9px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 10px 30px -9px rgba(0,0,0,0.5);
            box-shadow: 0px 10px 30px -9px rgba(0,0,0,0.5);
            opacity: 0;
            transition: opacity 0.2s ease-in-out; 
        }
        
        &:hover::after {
            opacity: 1;
        }
        
        &:active::after {
            opacity: .5;
        }
    }

    .emphasized-button {
        background-color: $green-highlight;
        color: white;
        border: none;
    }

	position: fixed;
	bottom: 30px;
	flex-wrap: nowrap;
	left: 50%;
	transform: translate3d(-50%, 0,0);
	background-color: white;
	border: .5px solid lighten($green-highlight, 10%);
	border-radius: 50px;
	user-select: none;
	-webkit-user-select: none;
	z-index: 300;
	
	.nav-total-container {
		display: flex;
		overflow: visible;
		
		&::-webkit-scrollbar {
			-webkit-appearance: none;
		}

		&::-webkit-scrollbar:vertical {
			width: 5px;
		}

		&::-webkit-scrollbar:horizontal {
			height: 0;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $green-highlight;
			border-radius: 10px;
			border: none;
		}

		&::-webkit-scrollbar-track {
			border-radius: 10px;  
			background-color: rgba(255,255,255,0.5);
			margin: 10px 0;
		}
	
		a {
			color: lighten($green-highlight, 10%);
			font-weight: 500;
			text-align: center;
			user-select: none;
			-webkit-user-select: none;

			&::after {
				background: lighten($green-highlight, 10%);
			}
		}

		.nav-link-container {
			padding: 10px 25px;
			position: relative;
			font-size: 18px;
		}

		.nav-popup-link-container {
			pointer-events: none;
			position: absolute;
			padding-top: 20px;
			left: 50%;
			bottom: 40px;
			transform: translate(-50%,0);
			width: 400px;
			z-index: 299;
			
			.nav-popup-link {
				font-size: 17px;
				font-weight: 300;
				position: relative;
				display: table;
				margin-bottom: 8px;
				padding: 8px 20px;
				background-color: white;
				border: .5px solid lighten($green-highlight, 10%);
				border-radius: 50px;
				top: 50%;
				left: 50%;
				opacity: 0;
				pointer-events: none;
				transform: translate(-50%, 10px);
				transition: transform 0.2s ease-out, opacity 0.2s ease-out;
			}
			
			.isVisible {
				transform: translate(-50%, 0px);
				opacity: 1;
				pointer-events: all;
			}
		}
		
		.isClickable {
			pointer-events: all;
		}
	}
}

.hamburger {
	display: none;
}

@media only screen and (max-width: 750px) {
	
	.nav {
		display: none;
		height: 100vh;
		width: 100vw;
		z-index: 1000;
		background-image: url(../resources/images/BG.png);
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		transform: none;
		left: 0;
        bottom: 0;
        
        h1 {
            font-size: 35px;
        }
        
        h2 {
            font-size: 20px;
        }
        
        p {
            font-size: 15px;
        }
		
		.navIsVisible {
			display: block;
		}
		
		.nav-total-container {
			display: block;
			position: absolute;
			height: 100vh;
			width: 90%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			overflow: auto;
			
			a {
				color: lighten($green-highlight, 10%);
				font-weight: 500;
				text-align: center;
				user-select: none;
				display: table;
				margin: auto;
				-webkit-user-select: none;
				font-weight: 600;

				&::after {
					background: lighten($green-highlight, 10%);
				}
			}

			.nav-link-container {
				padding: 12px 0;
				animation: flyin 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
				opacity: 0;
				animation-fill-mode: forwards;
				
				&:nth-child(1) {
					animation-delay: 0.3s;
				}
				
				&:nth-child(2) {
					animation-delay: 0.35s;
				}
				
				&:nth-child(3) {
					animation-delay: 0.4s;
				}
				
				&:nth-child(4) {
					animation-delay: 0.45s;
				}
				
				&:nth-child(5) {
					animation-delay: 0.5s;
				}
			
				&:first-child {
					padding-top: 40px;
				}

				&:last-child {
					padding-bottom: 40px;
				}
			}

			.nav-popup-link-container {
				pointer-events: all;
				position: relative;
				padding-top: 0;
				left: 0;
				bottom: 0;
				transform: none;
				width: 100%;
				z-index: 0;


				.nav-popup-link {
					font-size: 17px;
					font-weight: 300;
					position: relative;
					margin-bottom: 0;
					padding: 3px 0;
					background-color: transparent;
					border-radius: 0;
					top: 0;
					left: 0;
					opacity: 1;
					pointer-events: all;
					transform: none;
					transition: none;


					&::after {
						height: 1px;
					}
				}
			}
		}
	}
	
	.hamburger {
		display: block;
	}
}

@media only screen and (max-width: 350px) {
	
	.nav .nav-total-container .nav-link-container {
		padding: 8px 0;
	}
	
	.hamburger {
		right: 10px;
		bottom: 10px;
		width: 60px;
		height: 60px;
	}
}

::-webkit-scrollbar { 
    display: none; 
}