
$extra-small-spacing: .7rem;
$small-spacing: 0.9rem;
$normal-spacing: 2.9rem;
$large-spacing: 5rem;
$extra-large-spacing: 6rem;

@mixin no-spacing {
  margin-top: 0;
}
.no-spacing {
  @include no-spacing();
}

@mixin extra-small-spacing {
  margin-top: $extra-small-spacing;
}
.extra-small-spacing {
  @include extra-small-spacing();
}

@mixin small-spacing {
  margin-top: $small-spacing;
}
.small-spacing {
  @include small-spacing();
}

@mixin normal-spacing {
  margin-top: $normal-spacing;
}
.normal-spacing {
  @include normal-spacing();
}

@mixin large-spacing {
  margin-top: $large-spacing;
}
.large-spacing {
  @include large-spacing();
}

@mixin extra-large-spacing {
  margin-top: $extra-large-spacing;
}
.extra-large-spacing {
  @include extra-large-spacing();
}