---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css" />
    <title>{{ page.title }}</title>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143682340-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-143682340-1');
    </script>

</head>

<body>
    <main class="{{ page.classes | join: ' ' }}">
        {{ content }}
    </main>

    <div class="nav">
        <div class="nav-total-container">
            <div class="nav-link-container">
                <a href="/">Home</a>
                <div class="nav-popup-link-container">
                    <a href="/donate" class="nav-popup-link">Donate</a>
                    <a href="/join-us" class="nav-popup-link">Join Us</a>
                </div>
            </div>

            <div class="nav-link-container">
                <a href="/interactors">Interactors</a>
                <div class="nav-popup-link-container">
                    <a href="/interactors#why-we-connect-young-people" class="nav-popup-link">Why We Connect Young People</a>
                    <a href="/interactors#members" class="nav-popup-link">Members</a>
                </div>
            </div>

            <div class="nav-link-container">
                <a href="/philantropy">Philantropy</a>
                <div class="nav-popup-link-container">
                    <a href="/philantropy#why-we-support-education" class="nav-popup-link">Why We Support Education</a>
                    <a href="/philantropy#partners" class="nav-popup-link">Partners</a>
                </div>
            </div>

            <div class="nav-link-container">
                <a href="/events">Events</a>
            </div>

            <div class="nav-link-container">
                <a href="/news">News</a>
            </div>

            <div class="nav-link-container">
                <a href="/contact-us">Contact</a>
            </div>
        </div>
    </div>

    <div class="hamburger hamburger--spin">
        <div class="hamburger-box">
            <div class="hamburger-inner"></div>
        </div>
    </div>  
    <script src="/js/anime.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/jquery.parallax-scroll.js"></script>
    <script src="/js/nav_main.js"></script>

    {% assign import_scripts = 'nav' | split: ',' %}
    {% if page.scripts %}
        {% assign import_scripts = page.scripts | concat: import_scripts %}
    {% endif %}
    {% if layout.scripts %}
        {% assign import_scripts = layout.scripts | concat: import_scripts %}
    {% endif %}

    {% assign js_files = site.static_files | where: "script", true %}
    {% assign import_files = '' | split: ',' %}

    {% for file in js_files %}
        {% for script in import_scripts %}
            {% if file.basename contains script %} 
                <script defer src="/assets/js/{{ file.name }}"></script>
                {% break %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</body>
</html>
