---
layout: default
scripts:
- info_page
---

{% if page.category %}
{% assign category = page.category %}
{% else %}
{% assign category = 'All' %}
{% endif %}


<div class="content info-page news">
  <div class="hero">
    <img class="background" src="/assets/images/news/header_image.jpg" />
    <div class="hero-header-wrapper">
      <h1 class="hero-header white-header-text">news</h1>
      <ul class="category-links">
        {% include news_category_link.html category='All' %}
        {% include news_category_link.html category='Events' %}
        {% include news_category_link.html category='Education' %}
        {% include news_category_link.html category='Rotary' %}
        {% include news_category_link.html category='Interact' %}
        {% include news_category_link.html category='Interchange' %}
      </ul>
    </div>
  </div>
  <div class="articles">
  {% for article in site.news %}
    {% include article.html article=article %}
  {% endfor %}
  </div>
  <div class="nav-button-spacer"></div>
</div>